@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=PT+Serif:wght@400;700&family=Poppins:wght@100;300;400&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1024px;
    background: #FFFFFF;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

header {
    display: flex;
    padding: 30px 50px;
    justify-content: space-between
}

h1 {
    margin: 0;
    font-family: 'PT Serif';
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
}

h3 {
    display: inline;
    width: 117px;
    height: 27px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
}

#img01,
#img03 {
    width: 238px;
    height: 341px;
}

#img02,
#img05 {
    width: 238px;
    height: 347px;
}

#img04,
#img06 {
    width: 237px;
    height: 341px;
}

footer {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    margin: auto;
    align-items: flex-end;
    font-weight: 500;
}

.images {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 277px 277px 277px;
    grid-template-rows: 469px 469px;
    grid-auto-flow: row;
    grid-template-areas:
        "photo01 photo02 photo03"
        "photo04 photo05 photo06";
    margin: 100px 0;
}

.photo02,
.photo05 {
    margin-top: 20%;
}

.description {
    width: 372px;
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
}

.profession {
    width: 500px;
    margin-top: -154px;
    font-family: 'PT Serif';
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    transform: rotate(90deg);
}

.name {
    display: inline-block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

/* responsive to tablet */

@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 768px;
    }

    header {
        padding: 15px 25px;
    }

    .description {
        width: 371px;
    }

    .images {
        display: grid;
        grid-template-columns: 277px 277px;
        grid-template-rows: 469px 469px 469px;
        gap: 89px 57px;
        grid-auto-flow: row;
        grid-template-areas:
            "photo01 photo02"
            "photo03 photo04"
            "photo05 photo06";
    }

    .photo04,
    .photo06 {
        margin-top: 20%;
    }

    .photo05 {
        margin-top: 0;
    }

    .profession {
        font-size: 18px;
    }
}

/* responsive to smartphone */
@media (max-width: 767px) {
    body {
        width: 375px;
    }

    header {
        display: flex;
        flex-direction: column;
        padding: 5px 15px;
    }

    .images {
        display: grid;
        grid-template-columns: 138.72px 138.72px;
        grid-template-rows: 261.4px 261.4px 261.4px;
        gap: 25px 25px;
        grid-auto-flow: row;
        grid-template-areas:
            ". ."
            ". ."
            ". .";
    }

    #img01 {
        width: 138.72px;
        height: 209px;
    }

    #img02 {
        width: 138.35px;
        height: 209px;
    }

    #img03 {
        width: 139px;
        height: 219.44px;
    }

    #img04 {
        width: 139px;
        height: 220.46px;

    }

    #img05 {
        width: 139px;
        height: 226px;
    }

    #img06 {
        width: 139.35px;
        height: 220px;
    }

    .name {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        margin-top: -10%;
    }

    .profession {
        width: 298px;
        margin-top: -103px;
        font-family: 'PT Serif';
        font-size: 12px;
        line-height: 16px;
        text-transform: uppercase;
        transform: rotate(90deg);
    }

    .photo05 {
        margin: 0;
    }

    .right {
        margin-top: 60%;
    }

    .description {
        width: 333px;
    }

}